# EL CAMINO DEL DOLOR üò≠

In [30]:
#CONEXI√ìN CHURO POSTGRES

host = "35.190.207.107"
port = 5432 #Puerto habitual en posttgres 

user = "postgres"
password = "mi-instancia"
protocolo = "postgresql"
bbdd = "postgres" #opcional --- Nombre de la base de datos

In [31]:
import psycopg2

In [32]:
conn = psycopg2.connect(database = bbdd, 
                        user = user, 
                        host= host,
                        password = password,
                        port = port)

In [33]:

conn = psycopg2.connect(database = bbdd, 
                        user = user, 
                        host= host,
                        password = password,
                        port = port)

# Open a cursor to perform database operations
cur = conn.cursor()
# Execute a command: create datacamp_courses table
cur.execute("""CREATE TABLE datacamp_courses(
    
            course_id SERIAL PRIMARY KEY,
            
            course_name VARCHAR (50) UNIQUE NOT NULL,
            
            course_instructor VARCHAR (100) NOT NULL,
            
            topic VARCHAR (20) NOT NULL);
            """)
# Make the changes to the database persistent
conn.commit()
# Close cursor and communication with the database
cur.close()
conn.close()

DuplicateTable: relation "datacamp_courses" already exists

In [ ]:
conn = psycopg2.connect(database = bbdd, 
                        user = user, 
                        host= host,
                        password = password,
                        port = port)

cur = conn.cursor()

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to SQL','Izzy Weber','Julia')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Analyzing Survey Data in Python','EbunOluwa Andrew','Python')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to ChatGPT','James Chapman','Theory')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Introduction to Statistics in R','Maggie Matsui','R')");

cur.execute("INSERT INTO datacamp_courses(course_name, course_instructor, topic) VALUES('Hypothesis Testing in Python','James Chapman','Python')");

conn.commit()
cur.close()
conn.close()

In [34]:
conn = psycopg2.connect(database = bbdd, 
                        user = user, 
                        host= host,
                        password = password,
                        port = port)


cur = conn.cursor()
cur.execute('SELECT * FROM datacamp_courses;')
rows = cur.fetchall()

conn.close()
for row in rows:
    print(row)

(1, 'Introduction to SQL', 'Izzy Weber', 'Julia')
(2, 'Analyzing Survey Data in Python', 'EbunOluwa Andrew', 'Python')
(3, 'Introduction to ChatGPT', 'James Chapman', 'Theory')
(4, 'Introduction to Statistics in R', 'Maggie Matsui', 'R')
(5, 'Hypothesis Testing in Python', 'James Chapman', 'Python')

# EL CAMINO DEL AMOR üòç

In [35]:
# psycopg2-binary ha de estar instalado (para postgres), si no pip install.

In [36]:
# !pip install sqlalchemy

### SQLAlchemy trabaja con cualquier conexi√≥n SQL. S√≥lo necesitamos el churro!

### CHURRO

protocolo://user:password@host(:port)/database

In [37]:
churro = f"{protocolo}://{user}:{password}@{host}:{port}/{bbdd}"
churro

'postgresql://postgres:mi-instancia@35.190.207.107:5432/postgres'

### SQLAlchemy necistamos un engine que se genera directamente con el churro. Con ese engine trabajamanos directamente en PANDAS.

In [38]:
from sqlalchemy import create_engine

In [ ]:
engine = create_engine(churro)

In [41]:
import pandas as pd

In [42]:
query = """
SELECT * FROM datacamp_courses
"""
pd.read_sql(query, con=engine)

   course_id                      course_name course_instructor   topic
0          1              Introduction to SQL        Izzy Weber   Julia
1          2  Analyzing Survey Data in Python  EbunOluwa Andrew  Python
2          3          Introduction to ChatGPT     James Chapman  Theory
3          4  Introduction to Statistics in R     Maggie Matsui       R
4          5     Hypothesis Testing in Python     James Chapman  Python

## EL METODO `to_slq`

Tinene un atriburto que se llama index. Ponedlo a none, si no sube el indice como columna nueva.
Tiene un atributo que se llama if_exist. Podemos poner "replace" o "append" cuando ya existe luna tabla con el mismo nombre.

In [43]:
df = pd.DataFrame({
    "a":(1,2,3),
    "b":(4,5,6),
    "c":(7,8,9)
})

In [ ]:
query = """ 
SELECT * FROM df
"""
df.to_sql(query, con=engine)

In [61]:
pip install --upgrade mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.3.0-cp311-cp311-win_amd64.whl.metadata (7.5 kB)
Downloading mysql_connector_python-9.3.0-cp311-cp311-win_amd64.whl (16.4 MB)
   ---------------------------------------- 0.0/16.4 MB ? eta -:--:--
   ---------- ----------------------------- 4.2/16.4 MB 25.2 MB/s eta 0:00:01
   ----------------------- ---------------- 9.4/16.4 MB 29.4 MB/s eta 0:00:01
   ------------------------ --------------- 10.2/16.4 MB 18.8 MB/s eta 0:00:01
   ---------------------------------------- 16.4/16.4 MB 21.5 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.3.0
Note: you may need to restart the kernel to use updated packages.

In [67]:
churro_2 = 'mysql+mysqlconnector://root:sql-1@35.241.252.186:3306/test'

In [68]:
engine = create_engine(churro_2)

In [69]:
df = pd.DataFrame({
    "a":(1,2,3),
    "b":(4,5,6),
    "c":(7,8,9)
})

In [78]:
# query = """ 
# SELECT * FROM df
# """
# df.to_sql(query, con=engine, index=None, if_exists='append')

### TERMINA EL CAOS

LA BASE DE DATOS `mysql`no se toca!

In [77]:
# churro = "mysql+pymysql://root:sql-1@35.241.252.186:3306/test"
# engine = create_engine(churro)
# df = pd.DataFrame({
#     "a":[1,2,3]
# })
# df.to_sql("mitabla", con=engine, if_exists="replace", index=None)

In [74]:
!pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\maxi\miniconda3\envs\data_analysis_env\lib\site-packages (2.2.7)

In [76]:
churro = "mysql+pymysql://root:mysql@35.205.95.107:3306/test"
engine = create_engine(churro)
df = pd.DataFrame({
    "a":[1,2,3]
})
df.to_sql("mitabla", con=engine, if_exists="replace", index=None)

3