In [ ]:

import pandas as pd
import sqlite3
from sqlalchemy import create_engine
import os

In [8]:
churro = "sqlite:///chinook.db"
engine = create_engine(churro)
conn = sqlite3.connect("chinook.db")

In [10]:
query = """ 
SELECT * FROM chinook.db WHERE type='table'
"""

pd.read_sql_query(query, con=engine)

OperationalError: (sqlite3.OperationalError) no such table: chinook.db
[SQL:
SELECT * FROM chinook.db WHERE type='table'
]
(Background on this error at: https://sqlalche.me/e/20/e3q8)